<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="UTF-8">
  <title>Janken GAME</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Janken GAME!</h1>

  <div th:if="${entryUsers}">
    <p>エントリー</p>
    <ul>
      <li th:each="user : ${entryUsers}">
        <a th:href="@{/match(id=${user.id})}">
        [[${user.userName}]]
        </a>
      </li>
    </ul>
  </div>

  <p>Hi <span th:text="${userName}"></span></p>

  <h2>試合結果</h2>
  <div th:each="match, stat : ${matches}">
    <tr>
      <td>id:[[${match.id}]]</td>
      <td>user1:[[${match.user1}]]</td>
      <td>user2:[[${match.user2}]]</td>
      <td>user1の手[[${match.user1Hand}]]</td>
      <td>user2の手[[${match.user2Hand}]]</td>
    </tr>
  </div>
</body>

</html>
