<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

</html>

<head>
  <meta charset="UTF-8">
  <title>Janken GAME</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Janken GAME!</h1>


  <div th:if="${entry}">
    <p>エントリー</p>
    <ul>
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>

  <p>Hi <span th:text="${userName}"></span></p>
  <p>
    <a href="/jankenfight?hand=Goo">グー</a>
    <a href="/jankenfight?hand=Choki">チョキ</a>
    <a href="/jankenfight?hand=Pa">パー</a>
  </p>

  <hr th:if="${result_show}">

  <div th:if="${result_show}" th:object="${matchResult}">
    <p>あなたの手: <span th:text="*{userHand}"></span></p>
    <p>相手の手: <span th:text="*{cpuHand}"></span></p>
    <p>結果: <span th:text="*{result}"></span></p>
  </div>

  <h2>試合結果</h2>
  <div th:each="match, stat : ${matches}">
    <tr>
      <td>id:[[${match.id}]]</td>
      <td>user1:[[${match.user1}]]</td>
      <td>user2:[[${match.user2}]]</td>
      <td>user1の手[[${match.user1Hand}]]</td>
      <td>user2の手[[${match.user2Hand}]]</td>
    </tr>
  </div>
</body>

</html>
